@font-face {
  font-family: VCR;
  src: url(/fonts/FugazOne-Regular.ttf);
}

* {
  font-family: VCR;
}
.large {
  font-size: 20px;
}
.medium {
  font-size: 16px;
}
.small {
  font-size: 14px;
}

a {
  color: black;
}
a:hover {
  color: black;
}

.touchable {
  cursor: pointer;
}
.touchable:hover {
  opacity: .5;
}

img[alt] {
  color: transparent;
}